<div class="container-show" id="scoll-bar">
  <div *ngFor="let data of cardsStore;let i = index">
    <div class="card box">
      <div class="card-body" style="width: 360px;">
        <div class="flex-row">
          <div class="img-card">
            <img [src]="data.imageUrl" class="img-card" width="150px">
          </div>

          <div class="content">
            <div class="text">
              <p>{{data.name}}</p>
            </div>



            <div *ngIf="data.hp < 100;" style="margin-bottom: 15px;">

                <span>
                  hp
                  <div class="hp-1">
                    <div class="hp-2" [ngStyle]="{'width': getHp(data.hp) + 'px'}">
                    </div>
                  </div>
                </span>

            </div>

            <div *ngIf="data.hp >= 100;" style="margin-bottom: 15px;">
              <span>
                hp
                <div class="hp-1">
                  <div class="hp">
                  </div>
                </div>
              </span>
            </div>

            <div *ngIf="data.hp == 'None'" style="margin-bottom: 15px;">
              <span>
                hp
                <div class="hp-1"></div>
              </span>
            </div>



            <div *ngIf="data && data.attacks && data.attacks.length * 50 === 50" class="str-top">

                <span>
                  str
                  <div class="str-1">
                    <div class="str-2"></div>
                  </div>
                </span>

            </div>

            <div *ngIf="data && data.attacks && data.attacks.length * 50 === 100" class="str-top">
              <span>
                str
                <div class="str-1">
                  <div class="str"></div>
                </div>
              </span>
            </div>

            <div *ngIf="data && !data.attacks" class="str-top">
              <span>
                str
                <div class="str-1">
                </div>
              </span>
            </div>

            <div *ngIf="data && data.weaknesses && data.weaknesses.length * 100 == 100" class="weak-top">
              <span>
                weak
                <div class="weak-1">
                  <div class="weak-2"></div>
                </div>
              </span>
            </div>


            <div *ngIf="data && data.weaknesses && data.weaknesses.length * 100 > 100" class="weak-top">
              <span>
                weak
                <div class="weak-1">
                  <div class="weak-3"></div>
                </div>
              </span>
            </div>

            <div *ngIf="data && !data.weaknesses" class="weak-top">
              <span>
                weak
                <div class="weak-1">
                </div>
              </span>
            </div>


            <div class="damage-top">
              <span style="margin-right:20px;margin-bottom:20px;">Damage</span>
              <div [innerHTML]="getDamage(getDamageArr(data.attacks))">
              </div>
            </div>



            <div [innerHTML]="getEmotion(data.hp, getDamageArr(data.attacks), data.weaknesses?.length)" style="position: relative;
              top: -60px;">

            </div>

          </div>

            <p class="del" (click)="delCard(i)">X</p>

        </div>
      </div>
    </div>
  </div>
</div>
